<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLCT.Properties.Settings.QLCTConnectionString" connectionString="Data Source=PC7308;Initial Catalog=QLCT;Persist Security Info=True;User ID=sa;Password=thanglong"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>